modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
[deployment]
build = "pip install -r requirements.txt"
run = "python main.py"
deploymentTarget = "autoscale"

[[ports]]
localPort = 8080
externalPort = 80
